@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

.customer-wrapper{
    display: grid;
    grid-template-columns: 350px 20%;
    align-items:center;
    margin-bottom: 24px;
}
.order-form {
    display: grid;
    width: 690px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 50px;
}

.order-wrapper{
    height: 100%;
    width: 100%;
    padding: 20px 20px;
    border: 1px solid #C5C5C5;
    border-radius: 10px;
}

.order-wrapper:hover {
    transform: translateY(-3px);
    transition: all 0.5s ease;
    border: 1px solid #FF906D;
}

form {
    display: inline;
}

input[type=number] {
    width: 180px;
    padding: 12px 16px;
    display: inline-block;
    border: 1px solid #C5C5C5;
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

p {
    padding: 2px;
}

.order_summary {
    display: grid;
    background:#FFF;
    border-left:1px solid #c5c5c5;
    grid-template-rows: 5% 60% 5% 20%;
    position:fixed;
    bottom:0px;
    height:100%;
    right:0px;
    width: 400px;
    padding: 30px;
}

.totality-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.totality-wrapper > p {
    text-align: right;
}

.long {
    width: 339px;
    margin-top: 20px;
}

table {
    width: 339px;
}