@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
  
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
font-size: 2em;
}

.main-menu {
    background:#FFF;
    border-right:1px solid #c5c5c5;
    position:absolute;
    top:0;
    bottom:0;
    height:100%;
    left:0;

    width:60px;
    overflow:hidden;

    -webkit-transition:width .05s linear;
    transition:width .05s linear;

    -webkit-transform:translateZ(0) scale(1,1);
    z-index:1000;
}

.main-menu:hover{
    width:250px;
    overflow:visible;
    }

.main-menu ul {
    margin:30px 0;
}


.main-menu li>a {
    position:relative;
    display:table;
    border-collapse:collapse;
    border-spacing:0;
    margin: 20px 0;

    -webkit-transform:translateZ(0) scale(1,1);
    -webkit-transition:all .1s linear;
    transition:all .1s linear;
}

.main-menu li:hover {
    color:#fff;
    background-color:#FFF2EE;
}

.main-menu .nav-text{
    position:relative;
    display:table-cell;
    vertical-align:middle;
    width:190px;

    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #FF906D;   
    font-size: 18px;
    font-weight: 700;  
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

