@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
  }

/* FONTS */
h1, h2, p, input, tr, select {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #333333;    
}

h1, .header { font-size: 28px; color: #FF906D}
h2, .subheader { font-size: 20px; }
p, .body { font-size: 18px; }
td {font-size: 18px;}

.regular { font-weight: 400; }
.medium { font-weight: 500; }
.bold { font-weight: 700; }
.error { font-size: 12px; color: #F53F3F}

.orange {
    color: #FF906D
}

.light {
    color: #C5C5C5;
}

/*NAVBAR*/
.fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size:20px;
    font-size: 2em;
}

.main-menu {
    background:#FFF;
    border-right:1px solid #c5c5c5;
    position:fixed;
    top:0;
    bottom:0;
    height:100%;
    left:0;

    width:60px;
    overflow:hidden;

    transition:width .05s linear;
    -webkit-transition:width .05s linear;

    transform:translateZ(0) scale(1,1);
    -webkit-transform:translateZ(0) scale(1,1);
    z-index:1000;
}

.main-menu:hover{
    width:250px;
    overflow:visible;
    }

.main-menu ul {
    margin:30px 0;
}

.main-menu li>a {
    position:relative;
    display:table;
    border-collapse:collapse;
    text-decoration: none;
    border-spacing:0;
    margin: 20px 0;

    transform:translateZ(0) scale(1,1);
    -webkit-transform:translateZ(0) scale(1,1);

    -webkit-transition:all .1s linear;
    transition:all .1s linear;
}

.main-menu li:hover {
    color:#fff;
    background-color:#FFF2EE;
}

.main-menu .nav-text{
    position:relative;
    display:table-cell;
    vertical-align:middle;
    width:190px;

    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #FF906D;   
    font-size: 18px;
    font-weight: 700;  
}

.main-menu>ul.logout {
    position:absolute;
    left:0;
    bottom:0;
}

.no-touch .scrollable.hover {
    overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y:auto;
    overflow:visible;
}

/* BUTTON */
button {
    padding: 16px 32px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border: 2px;
    border-style: solid;
    border-radius: 10px;
}

.primary {
    background-color: #FF906D;
    border: none;
    color: #FFF;
}

.secondary {
    background-color: transparent;

    border-color: #FF906D;
    color: #FF906D;
}

.caution {
    background-color: #F53F3F;
    border-color: #F53F3F;
    color: #FFF;
}

.long {width: 240px;}
.short {padding: 8px 16px;
        width: 120px;
        font-weight: 500;}


.button:hover {
    transform: translateY(-3px);
    transition: all 0.5s ease;
}

/*FORM*/
form {
    display: grid;
    grid-template-rows: 40% 60%;
    border-radius: 5px;
    background-color:transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    /* padding: 10px;*/
}

.submit {
    position:absolute;
    left: 280px;
    padding: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
    direction: rtl;
    margin-top: 28px;
}

.save {
    display:inline;
    padding: 0px;
}

/*INPUT FIELDS*/
input[type=text], input[type=password], input[type=number], select {
    width: 320px;
    padding: 12px 16px;
    display: inline-block;
    border: 1px solid #C5C5C5;
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    
  }

input[type=text]:focus, input[type=password]:focus, input[type=number]:focus {
    background-color: #FFF2EE;
    border: 1px solid #FF906D;
  }

label {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #333333;   
    padding-bottom: 10px;
    padding-right: 10px;
}


/*TABLE*/
.content {
    margin-top: 20px;
    margin-left: 280px;
}

table {
    width: 1100px;
}


th {
    padding: 10px 0;
    text-align: justify;
}

td {
    padding: 5px 0;
}

#total_amount > h2 {
    text-align: right;
}

.order_sum_table td:nth-child(1) {
    font-weight: 700;  
    font-size: 1.2em;
}

.order_sum_table td:nth-child(3) {
    font-weight: 700;  
    color: #FF906D; 
    text-align: right;
}