body {
    background-image: url("../../landing/assets/background.png");
        background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 80px;
}

.landing-hero {
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    align-content: center;
}

.landing-hero div {
    padding-top: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
    align-content: center;

}

.landing-body {
    height: 100%;
    flex-basis: 50%;
    display: flex;
    justify-content: center;

    align-items: center;
    align-content: center;
}

.wrapper {
    height: 100%;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: flex-start;
    align-content: center;
    padding: 25vh 50px 0 50px;
}

.wrapper h1, div {
    color: #ffffff;
    padding-bottom: 20px;
}

.wrapper p {
    color: #ffffff;
    padding-bottom: 20px;
}


.form-wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color:transparent;
    padding: 10px;
}

.form-wrapper, p {
    color: #333333;
}

.button, landing {
    background-color: #59D0DD;
    width: 320px;
}

